<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p *ngIf = "chores.length > finishedChores.length" style="color:olivedrab;">WORK HARDER</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <h1 *ngIf = "chores.length === 0 && finishedChores.length >= 4; else howToGetIceCream" style="color:blueviolet;">You earned an ice cream treat!</h1>
    <ng-template #howToGetIceCream>
        <div class="chores" style="color:olivedrab;">
            <h3>To earn an ice cream treat:</h3>
            <p>The chores list must be empty. <br> The done list must have at least 4 items.</p>
        </div>
    </ng-template>
</div>
<hr>